set default="0"
set timeout="0"
set gfxpayload=1024x768x32,800x600x32,640x480x32,auto

menuentry "Thunder Den" {
    linux /bzImage console=tty1 loglevel=3 random.trust_cpu=off random.trust_bootloader=off
}
